---
import { Image } from "astro:assets";
import logo from '../../assets/base-logo-hd.png'
import { t } from 'i18next';
import { localizePath } from 'astro-i18next';
---

<section class='contact-section' id='contact'>

  <div class="contact-container">
    <div class='wrapper'>
      <h2 class='contact-header'>{t('contact.header')}</h2>
      <div class='contact-icons'>
        <a
          href='mailto:office@hinic.eu'
          class='icon-link'
          aria-label='Link to email'
        >
          <i class='fa-solid fa-envelope fa-2x'></i>
        </a>
        <a href='tel:+48888433188' class='icon-link' aria-label='Link to phone'>
          <i class='fa-solid fa-phone fa-2x'></i>
        </a>
      </div>
    </div>
    <div class='shortcuts'>
      <h3 class='shortcuts-heading'>{t('contact.shortcuts')}:</h3>
      <a class='shortcuts-links' href={localizePath('/o_nas')}>{t('navbar.about')}</a>
      <a class='shortcuts-links' href={localizePath('/produkty')}>{t('navbar.products')}</a>
      <a class='shortcuts-links' href={localizePath('/kontakt')}>{t('navbar.contact')}</a>
      </a>
    </div>
    <div class='contact-logo-container'>
      <Image src={logo} alt='logo-icon' />
    </div>
  </div>
  
</section>

<style>
  .contact-section {
    padding: 20px;
    background-color: var(--light-blue);
    color: var(--logo-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;
  }
  .contact-header {
    font-size: clamp(2rem, 3vw, 3rem);
    text-transform: uppercase;
    color: var(--base-white);
    font-family: var(--roboto-font);
    text-align: center;
    letter-spacing: 5px;
    font-weight:600;
    margin: auto;
    margin-top: 80px;
  }
  .contact-icons {
    margin-top: 30px;
  }
  .icon-link {
    text-decoration: none;
    padding: 3px;
    color: var(--logo-blue);
    margin: 0 7px 0 7px;
    transition: .2s all ease-in;
  }
  .icon-link:hover {
    color: var(--font-blue);
  }
  .shortcuts {
    margin-top: 30px;
    display: flex;
    font-family: var(--main-font);
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .shortcuts-heading {
    font-size: 1rem;
    padding: 10px;
  }
  .shortcuts-links {
    text-decoration: none;
    margin: 10px;
    color: var(--logo-blue);
    font-family: var(--main-font);
    transition: 0.3s all ease;
  }
  .shortcuts-links:hover {
    color: var(--font-blue);
  }
  .contact-logo-container {
    margin: 30px auto 0px auto;
    max-width: 270px;
  }
  .contact-logo-container img {
    width: 100%;
    object-fit: contain;
  }

@media (min-width:900px) {
  .contact-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
  }
  .contact-header {
    margin-top: 0;
  }
}
</style>
