---
import { Image } from 'astro:assets';
import hero from '../../assets/hero-img1.webp';
---

<section class='hero-section'>
  <div class='hero-wrapper'>
    <div class='hero-left'>
      <h1 class='hero-header'>
        Premium Nicotine Pouches and E-liquid Raw Materials Suuplier
      </h1>
    </div>
  </div>
</section>

<style>
  .hero-section {
    display: flex;
    padding-top: 114px;
  }
  .hero-wrapper {
    display: flex;
    padding: 160px 0 120px;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  .hero-left {
    width: 100%;
    position: relative;
  }
  .hero-image-wrapper {
    max-width: 600px;
  }
  .hero-image {
    width: 100%;
    height: auto;
  }
  .header-span {
    text-transform: none;
    font-family: var(--roboto-font);
    font-size: clamp(1.6rem, 3vw, 2rem);
  }

  .hero-header {
    text-transform: uppercase;
    font-family: var(--roboto-font);
    font-size: clamp(2.4rem, 4vw, 6rem);
    line-height: normal;
    text-align: center;
    padding-inline: 15px;
    text-decoration: underline;
    text-wrap: balance;
    color: var(--bg-black);
  }
 
  @media (min-width: 900px) {
    .hero-section {
      padding-top: 0;
    }
    .hero-wrapper {
      padding-left: 120px;
      padding-top: 200px;
      padding-bottom: 200px;
      display: flex;
      justify-content: flex-start;
    }
    .hero-header {
      text-align: left;
    }
    .hero-left {
      width: 70%;
    }
    .header-span {
      font-size: clamp(1.3rem, 3vw, 2.5rem);
    }
    .hero-right {
      width: 40%;
    }
  }
</style>
