---
import { Image } from "astro:assets";
---


<section class="hero-section">
    <div>
        <div>
            Lewa Strona
        </div>
    </div>
</section>

<style>
    .hero-section {
        background-image: var(--bg-gradient);
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
    }
</style>