---
import { Image } from 'astro:assets';
import hero from '../../assets/hero-img1.webp';
---

<section class='hero-section'>
  <div class='hero-wrapper'>
    <div class='hero-left'>
      <!-- Mały nagłówek widoczny na małych ekranach -->
      <h1 class='small-header'>
        <div>PREMIUM</div>
        <div>NICOTINE POUCHES</div>
        <div>AND E-LIQUID</div>
        <div>RAW MATERIALS</div>
        <div>SUPPLIER</div>
      </h1>

      <!-- Duży nagłówek widoczny na większych ekranach -->
      <h1 class='big-header'>
        <span class='header-span'>PREMIUM NICOTINE POUCHES AND E-LIQUID</span>
        <span class='header-span mt-2'>RAW MATERIALS SUPPLIER</span>
      </h1>
    </div>
  </div>
</section>

<style>
  .hero-section {
    display: flex;
    padding-top: 114px;
  }
  .hero-wrapper {
    display: flex;
    padding: 60px 0 60px;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  .hero-left {
    width: 100%;
    position: relative;
  }
  .hero-image-wrapper {
    max-width: 600px;
  }
  .hero-image {
    width: 100%;
    height: auto;
  }
  .header-span {
    text-transform: none;
    font-family: var(--roboto-font);
    font-size: clamp(1.6rem, 3vw, 2rem);
  }

  .small-header {
    display: block;
    font-size: 2.3rem; /* Odpowiednik text-xl */
    font-weight: bold;
    line-height: 1.4; /* Odpowiednik leading-snug */
    text-align: left;
    font-family: var(--roboto-font);
    margin-left: 20px;
  }

  .big-header {
    display: none; /* Ukrycie na małych ekranach */
    font-size:  /* Odpowiednik text-4xl */
    font-weight: bold;
    letter-spacing: 2px; /* Odpowiednik tracking-wide */
    line-height: 1.2; /* Odpowiednik leading-tight */
    text-align: center;
  }

  .header-span {
    display: block;
    font-family: var(--roboto-font);
    font-size: clamp(1.5rem, 1.5vw, 2.5rem);
  }

  .header-span.mt-2 {
    margin-top: 10px; /* Odpowiednik mt-2 */
  }
  @media (min-width: 640px) {
    .hero-wrapper{
      padding-block: 100px;
    }
    .hero-section {
      justify-content: center;
    }
    .small-header {
      display: none; /* Ukrycie na większych ekranach */
    }

    .big-header {
      display: block;
      text-align: left;
      /* Widoczność na większych ekranach */
    }
  }
  @media (min-width: 900px) {
    .hero-section {
      padding-top: 0;
      justify-content: flex-start;
    }
    .hero-wrapper {
      padding-left: 120px;
      padding-top: 200px;
      padding-bottom: 200px;
      display: flex;
      justify-content: flex-start;
    }
    .big-header {
      text-align: left;
    }

    .header-span {
      font-size: clamp(2rem, 3vw, 5rem);
    }

    .hero-right {
      width: 40%;
    }
  }
</style>
