---
import { Image } from 'astro:assets';
import hero from '../../assets/hero-img1.webp';
---

<section class='hero-section'>
  <div class='hero-wrapper'>
    <div class='hero-left'>
      <h1 class='hero-header'>
          HiLiQ EU WareHouse

      </h1>
    </div>
    <div class='hero-right'>
      
      <div class="hero-image-wrapper">
        <Image
          src={hero}
          alt='bottle of e-liquid'
          width={800}
          loading="eager"
          height={600}
          class='hero-image'/>
      </div>

    </div>
  </div>
</section>

<style>

  .hero-section {
    
    padding-top: 114px;
  }
  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  .hero-left {
    width: 100%;
  }
  .hero-image-wrapper {
    max-width: 600px;
  }
  .hero-image {
    width: 100%;
    height: auto;
  }
  .header-span {
    text-transform: none;
    font-family: var(--roboto-font);
    font-size: clamp(1.6rem, 3vw, 2rem);
  }

  .hero-header {
    text-transform: uppercase;
    font-family: var(--roboto-font);
    font-size: clamp(2.4rem, 3vw, 6rem);
    line-height: normal;
    text-align: center;
    padding-inline: 15px;
    color: var(--bg-black);
  }
  @media (min-width: 900px) {
    .hero-section {
      padding-top: 0;
    }
    .hero-wrapper {
      margin-top: 40px;
      padding-left: 20px;
    }
    .hero-left {
      width: 50%;
    }
    .header-span {
      font-size: clamp(1.3rem, 3vw, 2.5rem);
    }
    .hero-right {
      width: 40%;
    }
  }
</style>
