---
import { Trans } from 'astro-i18next/components';
---

<section class='hero-section'>
  <div class='hero-wrapper'>
    <div class='hero-left'>
      <h1 class='hero-header'>
        <Trans i18nKey='hero.header'>
          <span class='header-span'>Professional Solutions for</span> Nicotine
          and Liquid
        </Trans>
      </h1>
    </div>
    <div class='hero-right'></div>
  </div>
</section>

<style>

  .hero-section {
    height: 550px;
    padding-top: 114px;
  }
  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    position: relative;
    background-color: var(--overlay-blue);
    background-image: url('/research-hero.webp');
    background-position: 80% 0;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-left {
    width: 70%;
  }
  .header-span {
    text-transform: none;
    font-size: clamp(1.6rem, 3vw, 2rem);
  }

  .hero-header {
    text-transform: uppercase;
    font-family: var(--roboto-font);
    font-size: clamp(2.4rem, 4vw, 6rem);
    line-height: normal;
    text-align: center;
    /* background-image: linear-gradient(
      to left bottom,
      #031b4e,
      #162b61,
      #263c76,
      #354e8a,
      #44619f
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%; */
    color: var(--bg-white);
  }
  @media (min-width: 900px) {
    .hero-section {
      padding-top: 0;
    }
    .hero-wrapper {
      background-position: center;
    }
    .hero-left {
      width: 50%;
    }
    .header-span {
      font-size: clamp(1.3rem, 3vw, 2.5rem);
    }
    .hero-right {
      width: 50%;
    }
  }
</style>
