---
import { Image } from 'astro:assets';
import hero from '../../assets/hero-img1.webp';
---

<section class='hero-section'>
  <div class='hero-wrapper'>
    <div class='hero-left'>
      <!-- Mały nagłówek widoczny na małych ekranach -->
      <h1 class='small-header'>
        <div class='animated-text'>PREMIUM</div>
        <div class='animated-text'>NICOTINE POUCHES</div>
        <div class='animated-text'>AND E-LIQUID</div>
        <div class='animated-text mt-2'>RAW MATERIALS</div>
        <div class='animated-text mt-2'>SUPPLIER</div>
      </h1>

      <!-- Duży nagłówek widoczny na większych ekranach -->
      <h1 class='big-header'>
        <span class='header-span animated-text'
          >PREMIUM NICOTINE POUCHES AND E-LIQUID</span
        >
        <br />
        <span class='header-span mt-2 animated-text'
          >RAW MATERIALS SUPPLIER</span
        >
      </h1>
    </div>
  </div>
</section>

<style>
  .hero-section {
    display: flex;
    padding-top: 114px;
  }

  .hero-wrapper {
    display: flex;
    padding: 60px 0 60px;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .hero-left {
    width: 100%;
    position: relative;
  }

  .hero-image-wrapper {
    max-width: 600px;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .header-span {
    text-transform: none;
    font-family: var(--roboto-font);
    font-size: clamp(1.6rem, 3vw, 2rem);
  }

  .small-header {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    font-family: var(--roboto-font);
    margin-left: 20px;
  }

  .big-header {
    display: none;

    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
  }

  .header-span {
    display: block;
    font-family: var(--roboto-font);
    font-size: clamp(1.5rem, 1.5vw, 2.5rem);
  }

  .header-span.mt-2 {
    margin-top: 10px;
    font-family: var(--main-font);
    margin-top: 10px;
    font-size: clamp(2rem, 2vw, 3.5rem);
  }
  .mt-2 {
    color: grey;
  }
  .animated-text.mt-2 {
    color: grey;
    font-family: var(--main-font);
    font-size: clamp(1.5rem, 2vw, 2.5rem);
  } 
  @media (min-width: 640px) {
    .hero-wrapper {
      padding-block: 100px;
      margin-left: 20px;
    }
    .hero-section {
      justify-content: center;
    }
  }

  @media (min-width: 640px) {
    .small-header {
      display: none;
    }

    .big-header {
      display: block;
      text-align: left;
    }
  }

  @media (min-width: 900px) {
    .hero-section {
      padding-top: 0;
      justify-content: flex-start;
    }

    .hero-wrapper {
      padding-left: 120px;
      padding-top: 200px;
      padding-bottom: 200px;
      display: flex;
      justify-content: flex-start;
    }
    .big-header {
      text-align: left;
    }

    .header-span {
      font-size: clamp(2rem, 3vw, 5rem);
    }

    .hero-right {
      width: 40%;
    }
  }
  .animated-text {
    position: relative;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
  }

  .animated-text:nth-child(1) {
    animation-delay: 0.2s;
  }

  .animated-text:nth-child(2) {
    animation-delay: 0.4s;
  }

  .animated-text:nth-child(3) {
    animation-delay: 0.6s;
  }

  .animated-text:nth-child(4) {
    animation-delay: 0.8s;
  }

  .animated-text:nth-child(5) {
    animation-delay: 1s;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
