---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("fr");
---

<Layout title='polityka prywatności'>
  <main>
    <section class='policy-section'>
      <div class='policy-welcome'>
        <h1 class='policy-header'>Privacy Policy</h1>
      </div>
      <div class='policy-container'>
        <h2 class='policy-subheader'>
          This privacy policy describes how we process information about you,
          including personal data and cookies, or "cookies".
        </h2>
        <h2 class='policy-subheader'>1. General information</h2>
        <p class='policy-text'>
          1. This policy applies to the Website, operating under the url:
          hinic.eu
          <br />2. The operator of the website and the administrator of personal
          data is: Hiliq Poland Postępu 12b/11, NIP: 5361933750, KRS: 0000721432
          <br />3. Contact e-mail address of the operator: office@hinic.eu.
          <br />4. The Operator is the Administrator of your personal data with
          regard to the data you voluntarily provide on the Website.
          <br />5. The Website uses your personal data for the following
          purposes: <br />a. Running the newsletter <br />b. Handling requests
          via a form <br />c. Preparation, packaging, dispatch of goods d.
          Presentation of an offer or information <br />6. The service performs
          functions to obtain information about users and their behaviour in the
          following ways: <br />a. Through the voluntary data entered in the
          forms, which are entered into the Operator's systems. <br />b. Through
          the storage of cookies (so-called "cookies") on the terminal
          equipment.
        </p>
        <h2 class='policy-subheader'>
          2. Selected data protection methods used by the Operator
        </h2>
        <p class='policy-text'>
          1. The login and personal data entry areas are protected in the
          transmission layer (SSL certificate). This ensures that the personal
          and login data entered on the site are encrypted on the user's
          computer and can only be read on the target server. <br />2. The
          Operator periodically changes its administrative passwords. <br />3.
          The Operator shall make regular backups for data protection purposes. <br
          />4. An important element of data protection is the regular updating
          of all software used by the Operator to process personal data, which
          in particular means regular updates of software components.
        </p>
        <h2 class='policy-subheader'>3. Hosting</h2>
        <p class='policy-text'>
          1. Website is hosted (technically maintained) on the servers of the
          operator: home.pl <br />2. Hosting company, in order to ensure
          technical reliability, keeps logs at server level. The logs may
          include: <br />a. resources specified by the URL identifier (addresses
          of requested resources - pages, files), <br />b. time of receiving a
          request <br />c. time of sending a response, <br />d. name of the
          client station - identification via HTTP protocol, <br />e.
          information about errors which occurred during the HTTP transaction, <br
          />f. URL address of a page previously visited by the user (referer
          link), if the user accessed the Website via a link, <br />g.
          information about your browser, <br />h. information about your IP
          address, <br />i. diagnostic information related to the process of
          self-service ordering via registrars on the site, <br />j. information
          related to the handling of e-mails addressed to the Operator and sent
          by the Operator.
        </p>
        <h2 class='policy-subheader'>
          4. Your rights and additional information on how your data will be
          used
        </h2>
        <p class='policy-text'>
          1. In certain situations, the Administrator is entitled to transfer
          your personal data to other recipients if this is necessary for the
          performance of a contract concluded with you or for the fulfilment of
          obligations incumbent on the Administrator. This applies to such
          groups of recipients: <br />a. Authorised employees and associates who
          use the data in order to fulfil the purpose of the website <br />2.
          your personal data processed by the Administrator for no longer than
          it is necessary to perform the related activities defined by separate
          regulations (e.g. on accounting). With regard to marketing data, data
          will not be processed for longer than 3 years. <br />3 You have the
          right to request from the Administrator: <br />a. Access to personal
          data concerning you, <br />b. their rectification, <br />c. erasure, <br
          />d. restriction of processing, <br />e. and data portability. <br
          />4. You have the right to object, with regard to the processing
          indicated in point 3.2, to the processing of your personal data for
          the purposes of carrying out the legitimate interests pursued by the
          Controller, including profiling, whereby the right to object shall not
          be exercised if there are valid legitimate grounds for the processing
          overriding your interests, rights and freedoms, in particular the
          establishment, assertion or defence of claims. <br />5. The
          Administrator's actions may be complained about to the President of
          the Office for Personal Data Protection, 2 Stawki Street, 00-193
          Warsaw. 6th The provision of personal data is voluntary, but necessary
          to operate the Service. <br />7. Activities involving automated
          decision-making, including profiling for the purpose of providing
          services under the concluded agreement and for the purpose of direct
          marketing by the Administrator may be undertaken in relation to you. <br
          />8. Personal data is not transferred from third countries within the
          meaning of data protection legislation. This means that we do not send
          them outside the European Union.
        </p>
        <h2 class='policy-subheader'>5. Information on the forms</h2>
        <p class='policy-text'>
          1. The service collects information voluntarily provided by the user,
          including personal data if provided. <br />2. The site may record
          information on connection parameters (time stamp, IP address). <br
          />3. The site may, in some cases, record information to facilitate the
          linking of the data in the form with the e-mail address of the user
          completing the form. In such a case, the e-mail address of the user
          shall appear inside the url of the page containing the form. <br />4.
          The data provided in the form is processed for the purpose resulting
          from the function of the specific form, e.g. for the service request
          or commercial contact, registration of services, etc. In each case,
          the context and description of the form shall clearly indicate what it
          is used for.
        </p>
        <h2 class='policy-subheader'>6. Administrator logs</h2>
        <p class='policy-text'>
          1. User behaviour information on the website may be subject to
          logging. This data is used for the administration of the website.
        </p>
        <h2 class='policy-subheader'>7. Essential marketing techniques</h2>
        <p class='policy-text'>
          1. The operator uses statistical analysis of website traffic via
          Google Analytics (Google Inc., based in the USA). The operator does
          not transmit personal data to the operator of this service, only
          anonymised information. The service is based on the use of cookies on
          the user's terminal device. With regard to the information on user
          preferences collected by the Google advertising network, the user can
          view and edit the information resulting from cookies using the
          following tool: https://www.google.com/ads/preferences/.
        </p>
        <h2 class='policy-subheader'>8. Information on cookies</h2>
        <p class='policy-text'>
          1. The Website uses cookies. <br />2. Cookies (so-called "cookies")
          are IT data, in particular text files, which are stored on the Service
          User's terminal equipment and are intended for use on the Website.
          Cookies usually contain the name of the website from which they
          originate, the time of storing them on the terminal equipment and a
          unique number.
          <br />3. Cookies are placed on a Service User's terminal equipment and
          accessed by the Service Operator. <br />4. Cookies are used for the
          following purposes: <br />a. Maintaining a session of a User of the
          Website (after logging in), thanks to which a User does not have to
          re-enter his/her login and password on each subpage of the Website; <br
          />b. fulfilment of the purposes specified above under "Important
          marketing techniques"; <br />5. The Website uses two main types of
          cookies: "session" cookies and "permanent" cookies (persistent
          cookies). "Session" cookies are temporary files that are stored on the
          User's terminal equipment until the User logs out, leaves the website
          or switches off the software (web browser). "Persistent" cookies are
          stored on the User's terminal equipment for the time specified in the
          parameters of the cookies or until they are deleted by the User. <br
          />6. Web browsing software (web browser) usually allows cookies to be
          stored on the User's terminal equipment by default. Users of the
          Website may change their settings in this respect. The web browser
          makes it possible to delete cookies. It is also possible to
          automatically block cookies Detailed information on this subject is
          contained in the help or documentation of the Internet browser. <br
          />7. Restrictions on the use of cookies may affect some of the
          functionalities available on the Website. <br />8. cookies placed in
          the Service User's terminal equipment may also be used by entities
          cooperating with the Service Operator, in particular companies: Google
          (Google Inc. based in the USA), Facebook (Facebook Inc. based in the
          USA), Twitter (Twitter Inc. based in the USA).
        </p>
        <h2 class='policy-subheader'>
          9. Managing cookies - how to give and withdraw consent in practice?
        </h2>
        <p class='policy-text'>
          1. If you do not wish to receive cookies, you can change your browser
          settings. We stipulate that disabling cookies that are essential for
          authentication processes, security, maintaining user preferences may
          make it difficult, and in extreme cases may make it impossible, to use
          the websites <br>2. to manage your cookie settings, select the web browser
          you are using from the list below and follow the instructions: <br>o Edge
          <br>o Internet Explorer <br>o Chrome <br>o Safari <br>o Firefox <br>o Opera Mobile
          devices: <br>o Android <br>o Safari (iOS) <br>o Windows Phone
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .policy-section {
    padding-top: 114px;
    background-color: var(--overlay-blue);
    color: var(--bg-black);
  }
  .policy-header {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--bg-black);
    align-self: center;
    font-family: var(--second-font);
    font-size: clamp(2.5rem, 6vw, 6rem);
  }
  .policy-container {
    background-color: var(--bg-white);
    padding: 20px;
  }
  .policy-subheader {
    padding-top: 50px;
    color: var(--bg-black);
    font-family: var(--main-font);
    font-size: clamp(1.5rem, 1.8vw, 2.3rem);
    max-width: 1200px;
  }
  .policy-text {
    line-height: 32px;
  }
</style>
