.texts-box {
  width: 100%;
}
.text-area {
  resize: vertical;
  outline: none;
  border-radius: 7px;
  padding: 7px;
  width: 100%;
  border: none;
  height: 15svh;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.inputs-box {
  width: 100%;
}
h4 {
  color: var(--bg-grey);
}
.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}
.form-container {
  display: flex;
  color: var(--font-blue);
  font-family: var(--main-font);
  width: 100%;
  border: none;
}
.form-button {
  margin-top: 5px;
  display: block;
  width: 100%;
  min-width: 250px;
  padding: 20px 15px;
  border-radius: 7px;
  border: none;
  outline: 1px solid var(--bg-black);
  background-color: var(--bg-black);
  color: var(--bg-white);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.5rem);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.form-button:hover {
  background-color: var(--bg-white);
  color: var(--font-blue);
}
.sent-mail {
  background-color: transparent;
  color: rgb(105, 98, 98);
  margin-top: 60px;
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: var(--roboto-font);
  font-weight: 200;
  font-style: italic;
 
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: var(--bg-white);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .text-area {
    max-width: 100%;
  }
  .form-button {
    width: 100%;
  }
  h4 {
    font-size: 1.2rem;
    display: inline;
  }
  .icon {
    display: none;
  }
}
@media (min-width: 900px) {
  .text-area {
    max-width: 100%; /* Zmieniono na 100% */
  }
  .form-button {
    width: 100%; /* Zmieniono na 100% */
  }
}
