---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroSection/Hero.astro';
import About from '../components/AboutSection/About.astro';
import Products from '../components/ProductsSection/Products.astro';

---

<Layout title="Nikotyna w płynie, aromaty">
	<main>
		<Hero />
		<About />
		<Products />
	</main>
</Layout>

<style>
	
</style>
