---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import Form from "../components/Form/FormContact";
import { Image } from "astro:assets";
import order from "../assets/order-contact.webp";

changeLanguage("pl");
---

<Layout title='Kontakt z Nami'>
  <main>
    <section class='order-section'>
      <div class='order-welcome order-welcome-small'>
        <div class='centered-headers'>
          <h1 class='order-header'>{t('contact.subheader')}</h1>
        </div>
      </div>
      <div class='order-wrapper'>
        <div class='order-details-container'>

          <div class='order-details'>
            <Icon class='cart' name='contact-icon' width='80px' />
            <h2 class='order-subheader'>
              {t('contact.text-one')}
            </h2>
            <Form />
            <!-- <h3 class='order-contact-subheader'>
              {t('contact.text-two')}
            </h3>
            <h3 class='order-contact-subheader'>
              {t('contact.text-three')}
            </h3> -->
          </div>

          <div class='contact-container'>
            <div class='country-wrapper'>
              <p class='country-text'>Hiliq Poland</p>
              <p class='country-text'>KRS: 0000721432, NIP: 5361933750</p>
              <p class='country-text'>ul. Postępu 12b/94</p>
              <p class='country-text'>02-676 Warszawa</p>
              <p class='country-text'>Polska</p>
              <div>
                <a href='tel:+48887545887'
                  ><span><i class="fa-brands fa-whatsapp fa-1.4x"></i></span> +48 608 821 077</a
                >
              </div>
              <div>
                <a href='mailto: office@hinic.eu'
                  ><span><i class='fa-solid fa-envelope'></i></span>
                  office@hinic.eu</a
                >
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
  </main>

  <style>
    .centered-headers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .order-section {
      padding-top: 114px;
    }
    .cart {
      align-self: center;
      fill: var(--bg-black);
      width: 50px;
    }
    .flag {
      padding: 2px;
      border-radius: 50%;
    }
    .order-welcome {
      background-color: var(--bg-black);
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 300px;
    }
    .order-header {
      color: var(--bg-white);
      font-family: var(--second-font);
      font-weight: 700;
      font-size: clamp(2.8rem, 4vw, 6rem);
    }
    .order-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: var(--bg-white);
    }

    .order-details-container {
      margin-top: 50px;
      gap: 30px;
      display: flex;
      flex-direction: column;
      padding: 40px 20px 40px 20px;
      position: relative;

      align-items: start;
    }
    .order-details {
      margin-top: 0px;
      margin-bottom: 30px;
      color: var(--logo-blue);
      font-family: var(--second-font);
      z-index: 100;
    }
    .order-subheader {
      font-size: clamp(2.2rem, 2vw, 2.1rem);
      padding: 10px 0px;
      color: var(--font-blue);
      font-family: var(--roboto-font);
      margin-bottom: 20px;
    }
    .order-subheader-two {
      font-size: clamp(1rem, 1.2vw, 1.6rem);
      font-family: var(--main-font);
      font-weight: 700;
      /* color: var(--bg-black); */
      margin-bottom: 25px;
    }
    .order-contact {
      margin-top: 20px;
      font-size: clamp(1.2rem, 1.3vw, 1.2rem);
      color: var(--font-blue);
      font-family: var(--second-font);
    }
    .order-contact-subheader {
      font-size: clamp(1rem, 1.3vw, 1.2rem);
      margin-top: 5px;
      letter-spacing: 1px;
      font-family: var(--main-font);
      color: #4a4a62;
    }
    .contact-container {
      display: grid;
      gap: 50px 30px;
      grid-auto-rows: 1fr;
      font-family: var(--second-font);
      color: var(--font-blue);
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .country-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      font-size: clamp(1.5rem, 2vw, 2rem);
    }
    .country-wrapper a {
      color: #4a4a62;
    }
    .country-text {
      font-weight: 700;
    }
    .order-image-container {
      padding: 20px;
      margin-top: -80px;
      max-width: 100%;
      object-fit: contain;
    }
    .order-image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    
   
    
    @media (min-width: 900px) {
      .order-section {
        padding-top: 0;
      }
      .order-welcome-small {
        background-color: var(--bg-black);
        align-items: center;
        background-position: center -200px;
        height: 400px;
        justify-content: flex-start;
      }
      .order-header {
        padding-left: 60px;
      }
      .order-wrapper {
        flex-direction: row;
        padding: 120px 60px 120px 60px;
      }
      .order-image-container {
        margin-top: 0;
      }
      .order-details-container {
        flex-direction: row;
        gap: 120px;
        flex-wrap:wrap;
        align-items: center;
      }
      .order-details {
        width: 50%;
      }
      
    }
  </style>
</Layout>
