---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Zamów nasze produkty'>
  <main>
    <section class='order-section'>
      <div class='about-welcome'>
        <h1 class='about-header'>Złóż Zamówienie</h1>
      </div>
    </section>
  </main>
</Layout>
