---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Zamów nasze produkty'>
  <main>
    <section class='order-section'>
      <div class='order-welcome order-welcome-small'>
        <h1 class='order-header'>Złóż Zamówienie</h1>
      </div>
      <div class='order-details-container'>
        <div class='order-details'>
          <h2 class='order-subheader'>
            Stale podnosimy jakość świadczonych przez nas usług
          </h2>
          <h3 class='order-subheader-two'>
            Niemniej jednak na ten moment jedyną możliwą metodą płatności jest
            przelew na konto bankowe
          </h3>
          <table>
            <tr>
              <span class='table-header'
                >Prosimy o dokonanie przelewu na poniższe konto:</span
              >
              <tr></tr>
              <td>
                <p>Numer konta bankowego: XXXX XXXX XXXX XXXX XXXX XXXX</p>
                <p>Nazwa firmy: Hiliq sp z o.o.</p>
                <p>Adres: ul. Leśna 12, 11-400, Wrocław</p>
                <p>
                  W tytule prosimy wpisać nazwę zamówionych produktów i swoje
                  dane adresowe
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class='order-image-wrapper'>
          <img
            class='order-image'
            src='../../src/assets/bg-nicotine-blur.png'
            alt='ordering'
          />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .order-section {
    padding-top: 114px;
  }
  .order-welcome {
    background-image: url('../assets/order-bg-small.webp');
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
  }
  .order-header {
    font-family: var(--roboto-font);
    margin-top: 50px;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    font-size: clamp(2.5rem, 4vw, 6rem);
  }
  .order-details-container {
    margin-top: 60px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
  }
  .order-details {
    margin-top: 20px;
    font-family: var(--main-font);
  }
  .order-subheader {
    font-size: clamp(1.5rem, 2vw, 3.5rem);
    padding: 15px 20px;
    color: var(--bg-white);
    text-transform: uppercase;
    box-shadow: 3px 5px 9px -5px rgb(73, 71, 71);
    background-image: linear-gradient(
      to right top,
      #01294d,
      #473468,
      #863870,
      #bc4161,
      #dc6043,
      #dc6045,
      #dc6046,
      #dc6048,
      #b84567,
      #7f3f73,
      #403965,
      #0f2b44
    );
    margin-bottom: 20px;
  }
  .order-subheader-two {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--bg-black);
    margin-bottom: 25px;
  }
  .table-header {
    font-size: clamp(1.4rem, 2vw, 2rem);
    opacity: 0.9;
    text-decoration: underline;
  }
  td p {
    color: var(--bg-black);
    font-weight: 700;
    font-size: clamp(1.3rem, 1.5vw, 1.7rem);
  }

  .order-image-wrapper {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .order-image {
    display: block;
    width: 100%;
  }
  @media (min-width: 900px) {
    .order-section {
      padding-top: 0;
    }
    .order-welcome-small {
      background-image: url('../assets/order-bg.webp');
      align-items: center;
    }
    .order-header {
      padding-left: 120px;
    }
    .order-details-container {
      margin-top: 0px;
    }
    .order-details {
      margin-left: 120px;
      margin-top: 80px;
    }
  }
</style>
