---
import { Image } from 'astro:assets';
import nicotine from '../../assets/nicotine.png';
import i18next, { t } from 'i18next';
import { localizePath } from 'astro-i18next';
---

<section class='about-section'>
  <p class='about-minititle'>{t('about.minititle')}</p>
  <h2 class='about-header'>{t('about.heading')}</h2>
  <div class='about-wrapper'>
    <div class='about-info'>
      <p class='about-text'>
        {t('about.text-one')}
      </p>
      <p class='about-text'>
        {t('about.text-two')}
      </p>
      <a class='about-link' href={localizePath('/o_nas')}>{t('navbar.about')}</a
      >
    </div>
    <div class='about-image-container'>
      <Image src={nicotine} alt='nicotine-bottle' />
    </div>
  </div>
</section>

<style>
  .about-section.show {
    /* transform: translateY(0%); */
    opacity: 1;
  }
  .about-section {
    /* transform: translateY(100px); */
    opacity: 0;
    transition: .5s all ease-in-out;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: hsl(0, 0%, 100%);
    color: var(--bg-black);
  }
  .about-wrapper {
    display: block;
  }
  .about-image-container {
    max-width: 100%;
    height: fit-content;
  }
  .about-image-container img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
  }
  .about-minititle {
    opacity: 0.6;
    color: var(--font-blue);
    text-transform: uppercase;
    font-family: var(--roboto-font);
  }
  .about-header {
    margin-top: 10px;
    font-size: clamp(2.3rem, 3vw, 3.5rem);
    font-family: var(--roboto-font);
    margin-bottom: 30px;
    font-weight: 600;
    color: var(--font-blue);
    /* font-family: var(--roboto-font); */
  }
  .about-info {
    display: flex;
    flex-direction: column;
  }
  .about-text {
    margin-bottom: 10px;
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-family: var(--main-font);
    color: var(--logo-blue);
    text-align: justify;
    line-height: 24px;
  }
  .about-link {
    color: var(--bg-white);
    margin-top: 20px;
    margin-bottom: 5px;
    width: 200px;
    outline: none;
    text-align: center;
    padding: 13px 10px;
    font-family: var(--roboto-font);
    background-color: var(--font-blue);
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  .about-link:hover {
    background-color: var(--bg-white);
    color: var(--font-blue);
    outline: 1px solid var(--font-blue);
  }
  @media (min-width: 900px) {
    .about-section {
      padding-left: 100px;
    }
    .about-wrapper {
      display: flex;
    }
    .about-info {
      padding-right: 5px;
    }
    .about-link {
      align-self: flex-end;
      box-shadow: 3px 6px 5px -5px rgb(42, 44, 83);
      padding: 15px 10px;
      font-size: 1.6rem;
    }
    .about-minititle {
      margin-top: 80px;
    }
    .about-text {
      margin-bottom: 25px;
    }
  }
</style>

<script>
  const section = document.querySelector('.about-section');

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      entry.target.classList.toggle('show', entry.isIntersecting);
      if(entry.isIntersecting) observer.unobserve(entry.target)
    });
    console.log(entries);
  }, {
    threshold : .30,
  });

  observer.observe(section!);
</script>
