---
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Icon from "astro-icon";
import FormContact from "../../components/Form/FormContact";
import fire from "../../assets/warn-fire.webp";
import wicon from "../../assets/warn-icon.webp";
import worker from "../../assets/warn-office.webp";
import toxic from "../../assets/warn-toxic.webp";
import CardWrapper from "../../components/ProductsSection/CardWrapper.astro";

changeLanguage("de");
---

<Layout title='Nasze produkty nikotynowe'>
  <main>
    <section class='products-section'>
      <div class='products-welcome products-welcome-small'>
        <h1 class='products-header'>{t('products.subheader')}</h1>
      </div>

      <div class='products-container'>
        <img
          class='bg-overlay'
          src='/bg-dots.webp'
          alt='molecules'
        />
        <div class='texts-wrapper'>
          <p class='products-text'>
            {t('products.text-one')}
          </p>
          <p class='products-text'>
            {t('products.text-two')}
          </p>
          <p class='products-text'>
            {t('products.text-three')}
          </p>
          <p class='products-text'>
            <Trans i18nKey='products.text-four'>
              Możesz zapoznać się z naszym <a id='lists' href='#prices-list'
                >Cennikiem</a
              > poniżej lub ściągnij go na telefon:
            </Trans>
          </p>
        </div>

        <h2 class='title'>{t('products.heading')}</h2>
        <CardWrapper />
      </div>
    </section>

    <section class='prices-section'>
      <!-- <div>
        <div id='prices-list'>
          <div class='form-header_wrapper'>
            <h3 class='form-header'>
              {t('products.form-text')}
            </h3>
            <p>
              {t('products.form-subtext')}
            </p>
          </div>
          <FormContact client:only />
        </div>
      </div> -->

      <div class='warning-container'>
        <h2 class='warning-header'>{t('products.warning')}</h2>
        <div class='warning-wrapper'>
          <div class='warning-card'>
            <Image class='warning-img' src={fire} alt='warn-fire' />
            <p class='warning-text'>
              {t('products.fire')}
            </p>
          </div>
          <div class='warning-card'>
            <Image class='warning-img' src={wicon} alt='warn-icon' />
            <p class='warning-text'>
              {t('products.warn')}
            </p>
          </div>
          <div class='warning-card'>
            <Image class='warning-img' src={worker} alt='worker-icon' />
            <p class='warning-text'>
              {t('products.worker')}
            </p>
          </div>
          <div class='warning-card'>
            <Image class='warning-img' src={toxic} alt='toxic-bottle' />
            <p class='warning-text'>
              {t('products.toxic')}
            </p>
          </div>
        </div>
        <span class='warning-line'></span>
        <div class='warning-footer'>
          <p class='warning-text'>
            <Trans i18nKey='products.warning-one'>
              <span>*Nikotyna jest szkodliwa.</span> Nie połykać, nie umieszczać
              na języku, oczach lub skórze. Trzymać z dala od dzieci, zwierząt domowych
              oraz osób niezrównoważonych. Po kontakcie ze skórą niezwłocznie skontaktować
              się z lekarzem.
            </Trans>
          </p>
          <p class='warning-text'>
            <Trans i18nKey='products.warning-two'>
              <span>Nikotyna jest śilnie uzależniająca.</span> Tego produktu nie
              powinny stosować osoby: mające choroby serca; wysokie ciśnienie krwi;
              cukrzycę lub uczulenie na nikotynę, glicerynę lub glikol propylenowy;
              kobiety w ciąży lub karmiące piersią. Należy przerwać stosowanie i
              niezwłocznie skonsultować się z lekarzem w razie występowania jakichkolwiek
              objawów nadużycia nikotyny takich jak nudności wymioty, zawroty głowy,
              osłabienie lub szybkie bicie serca.
            </Trans>
          </p>
          <p class='warning-text'>
            <Trans i18nKey='products.warning-three'>
              <span
                >PRODUKT ZAWIERA NIKOTYNĘ, KTÓRA JEST SUBSTANCJA UZALEŻNIAJĄCĄ</span
              >
            </Trans>
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
  <style>
    .prices-section {
      background-color: var(--light-blue);
    }
    #prices-list {
      /* background-image: var(--bg-gradient); */
      background-image: linear-gradient(
          to top,
          #031b4e,
          #021946,
          #02173e,
          #031536,
          #05122e
        );;
      padding: 20px 0 0 0;
    }
    .form-header_wrapper {
      text-align: center;
      font-family: var(--roboto-font);
    }
    .form-header_wrapper p {
      color: var(--overlay-blue);
      font-size: 0.8rem;
      padding-inline: 40px;
      margin-top: 30px;
    }
    .form-header {
      color: var(--bg-white);
      font-family: var(--main-font);
      margin-top: 60px;
      font-size: clamp(1.5rem, 3vw, 3rem);
    }

    .products-section {
      padding-top: 114px;
    }
    .bg-overlay {
      /* background-image: url('/bg-dots.webp'); */
      height: 100%;
      width: 100%;
      inset: 0;
      z-index: -1;
      opacity: 0.1;
      position: absolute;
      object-fit: cover;
    }
    .products-welcome {
      background-image: url('/products-bg-sm2.webp');
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
      padding-left: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 300px;
    }
    .title {
      margin-top: 100px;
      margin-bottom: 20px;
      text-align: center;
      font-family: var(--roboto-font);
      font-size: clamp(2.2rem, 5vw, 5rem);
      color: var(--font-blue);
    }
    .products-container {
      padding: 80px 20px 80px 20px;
      display: flex;
      position: relative;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    .products-header {
      font-family: var(--second-font);
      margin-top: 30px;
      align-self: center;
      color: var(--font-blue);
      font-size: clamp(3rem, 4vw, 6rem);
    }
    .products-subheader {
      font-size: clamp(2.3rem, 3vw, 3.5rem);
      font-family: var(--main-font);
      color: var(--bg-white);
    }
    .texts-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #lists {
      font-weight: 700;
      color: var(--font-blue);
      text-decoration: underline;
    }
    #lists:hover {
      color: var(--blue);
    }

    .products-text {
      font-family: var(--second-font);
      text-align: center;
      font-size: clamp(1.2rem, 1.5vw, 1.7rem);
      color: var(--font-blue);
      padding: 25px 30px;
      font-weight: 300;
      max-width: 1400px;
      margin-bottom: 10px;
      opacity: 0;
      animation: show 2s both;
    }
    .products-text:first-of-type {
      animation-delay: 0.5s;
      font-weight: 500;
      font-size: clamp(1.4rem, 1.7vw, 1.9rem);
    }
    .products-text:nth-of-type(2) {
      opacity: 0;
      animation-delay: 1s;
    }
    .products-text:nth-of-type(3) {
      opacity: 0;
      animation-delay: 1.5s;
    }
    .products-text:nth-of-type(4) {
      opacity: 0;
      animation-delay: 2s;
    }
    .warning-container {
      background-image: var(--bg-gradient);
      color: var(--bg-white);
      padding: 20px 20px 60px 20px;
    }
    .warning-header {
      text-align: center;
      margin-top: 120px;
      margin-bottom: 40px;
      font-size: clamp(2.5rem, 3vw, 3.5rem);
      font-family: var(--roboto-font);
      margin-bottom: 30px;
    }
    .warning-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      justify-items: center;
      align-items: start;
      gap: 40px 10px;
      margin-bottom: 70px;
      font-family: var(--roboto-font);
    }
    .warning-card {
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 10px;
      flex-direction: column;
    }
    .warning-image {
      display: block;
      width: 100%;
      object-fit: contain;
    }
    .warning-text {
      font-family: var(--main-font);
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
    }
    .warning-footer {
      margin-top: 30px;
      font-family: var(--second-font);
    }
    .warning-footer .warning-text {
      margin-bottom: 20px;
    }
    .warning-text span {
      font-weight: 900;
    }
    .warning-line {
      margin: 0 auto;
      display: block;
      width: 70%;
      background-color: var(--bg-white);
      height: 1px;
    }

    @media (min-width: 900px) {
      .products-section {
        padding-top: 0;
      }
      .form-header_wrapper {
        margin-bottom: 60px;
      }
      .form-header_wrapper p {
        font-size: 1rem;
      }
      .products-container {
        gap: 100px;
        padding-top: 100px;
      }
      .products-welcome {
        height: 400px;
        align-items: center;
      }
      .products-welcome-small {
        background-image: url('/products-bg2.webp');
      }
      .products-header {
        padding-left: 120px;
      }
      .products-text {
        margin-top: 30px;
        margin-bottom: 0px;
      }
      .warning-header {
      }
    }
    @media (max-width: 1800px) {
      .products-text {
        margin-top: 0px;
      }
    }
    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>

