---
import { Image } from 'astro:assets';
import order from '../../assets/order-list2.webp';
---

<section class='order-section'>
  <div class="bg-overlay"></div>
  <h2 class='order-heading'>Doskonałość we Współpracy i Logistyce</h2>
  <div class='order-wrapper'>
    <p class='order-text'>
      Stawiamy dobro naszych Klientów na pierwszym miejscu. Nasze ceny są
      dostosowane tak, aby zadowolić naszych Konsumentów. Jako dostawca chcemy
      dać szansę naszym odbiorcom zarobić jeszcze więcej niż dotychczas dając im
      bardziej konkurencyjne ceny. Dzięki naszemu przyjaznemu i profesjonalnemu
      zespołowi, który będzie pracował razem z Tobą, Hiliq Poland oferuje Ci
      jakość z której będziesz bardzo zadowolony.
    </p>
    <p class='order-text'>
      Stawiamy dobro naszych Klientów na pierwszym miejscu. Nasze ceny są
      dostosowane tak, aby zadowolić naszych Konsumentów. Jako dostawca chcemy
      dać szansę naszym odbiorcom zarobić jeszcze więcej niż dotychczas dając im
      bardziej konkurencyjne ceny. Dzięki naszemu przyjaznemu i profesjonalnemu
      zespołowi, który będzie pracował razem z Tobą, Hiliq Poland oferuje Ci
      jakość z której będziesz bardzo zadowolony.
      <Image class='order-image-cart' src={order} alt='order-cart' />
    </p>
    <div class='bottom-wrapper'>
      
      <a href='/orders' class='order-link'> Zamów nasze produkty</a>
    </div>
  </div>

  <style>
    .order-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      color: var(--base-grey);
      position: relative;
      gap: 50px;
    }
    .bg-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url('/logistic-map.webp');
      background-size: cover;
      background-size: contain;
      opacity: .2;
      z-index: -1;
      background-repeat: no-repeat;
    }
    .order-heading {
      text-align: center;
      display: block;
      font-family: var(--roboto-font);
      font-size: clamp(2.3rem, 3vw, 3.5rem);
      color: var(--font-blue);
      margin-top: 100px;
    }
    .order-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .image-wrapper {
      margin-top: -50px;
    }
    .order-image-map {
      width: 100%;
      height: auto;
      display: block;
      margin-top: 120px;
      object-fit: contain;
      opacity: 0.3;
    }
    .order-image-cart {
      display: block;
      max-width: 100%;
      object-fit: contain;
      align-self: center;
      margin: 0 auto;
      margin-top: 20px;
      
    }
    .order-text {
      font-family: var(--roboto-font);
      text-align: left;
      background-color: var(--light-blue);
      padding: 20px;
      line-height: normal;
      color: var(--logo-blue);
      border-radius: 7px;
      font-size: clamp(0.9rem, 1vw, 1rem);
      outline: 1px solid var(--bg-white);
    }
    .order-link {
      font-size: clamp(1rem, 1.5vw, 2rem);
      font-family: var(--second-font);
      color: var(--bg-white);
      font-weight: 700;
      width: 100%;
      border: none;
      text-align: center;
      background-color: var(--font-blue);
      padding: 15px 45px;
      transition: 0.3s all ease;
    }
    .order-link:hover {
      background: var(--bg-white);
      color: var(--font-blue);
      outline: 1px solid var(--font-blue);
    }
    .order-image-cart {
      transform: translateY(0px);
      transition: .3s all ease;
    }
    .order-image-cart:hover {
      transform: translateY(-10px);
    }
    .bottom-wrapper {
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: 900px) {
      .order-wrapper {
      }
      .order-heading {
      }
      .bg-overlay {
        background-position: center;
      }
      .order-text {
        max-width: 900px;
      }
      .order-link {
        width: fit-content;
      }
      .bottom-wrapper  {
        margin-top: 100px;
        margin-bottom: 100px;
        gap: 50px;
      }
    }
  </style>
</section>
