---
import { Image } from "astro:assets";
import order from '../../assets/order.png';
---

<section class='order-section'>
  <div>

    <Image class='order-image' src={order} alt="order-cart">
  </div>
  <div class='order-wrapper'>
    <p class='order-text'>
      Hiliq jest niezawodnym dostawcą wysokiej jakości nikotyny. Z naszymi
      partnerami, będącymi kluczowymi dostawcami w branży logistycznej
      zapewniamy szybki, odpowiedzialny oraz wygodny transport do Waszych drzwi.
      Posiadamy również zespół, który pomoże Ci śledzić, sprawdzać i koordynować
      stan Twojej przesyłki.
    </p>
    <a href='/orders' class='order-link'> Zamów nasze produkty</a>
  </div>
</section>

<style>
  .order-section {
    display: flex;
    background-color: var(--base-grey);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--base-grey);
    height: 600px;
  }
  .order-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .order-image {
    display: block;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
    height: 100px;
  }
  .order-text {
    font-family: var(--second-font);
    text-align: left;
    background-color: var(--bg-white);
    padding: 20px;
    line-height: normal;
    color: var(--bg-black);
    font-weight: 500;
    margin-top: 20px;
    outline: 1px solid var(--bg-white);
  }
  .order-link {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: var(--second-font);
    color: var(--bg-black);
    font-weight: 700;
    width: 100%;
    text-align: center;
    background-color: var(--bg-white);
    padding: 15px 45px;
    transition: 0.3s all ease;
  }
  .order-link:hover {
    background: var(--bg-black);
    color: var(--bg-white);
  }
  @media (min-width: 900px) {
    .order-header {
      padding: 10px 75px;
    }
    .order-text {
        max-width: 900px;
    }
    .order-link {
        width: fit-content;
    }
  }
</style>
