---

---

<section class='order-section'>
  <div class='order-wrapper'>
    <p class='order-text'>
      Hiliq jest niezawodnym dostawcą wysokiej jakości nikotyny. Z naszymi
      partnerami, będącymi kluczowymi dostawcami w branży logistycznej
      zapewniamy szybki, odpowiedzialny oraz wygodny transport do Waszych drzwi.
      Posiadamy również zespół, który pomoże Ci śledzić, sprawdzać i koordynować
      stan Twojej przesyłki.
    </p>
    <a href='' class='order-link'> Zamów teraz</a>
  </div>
</section>

<style>
  .order-section {
    display: flex;
    background-color: var(--base-grey);
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-image: url('../assets/m_art.png'); */
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url('../../assets/bg-nicotine.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--base-grey);

    /* background-image: url('../../assets/bg-hands.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; */
  }
  .order-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .order-text {
    font-family: var(--second-font);
    text-align: center;
    background-color: var(--bg-black);
    padding: 20px;
    color: var(--bg-white);
    font-weight: 500;
    margin-top: 40px;
    outline: 1px solid var(--bg-white);
  }
  .order-link {
    font-size: clamp(1.3rem, 2vw, 3rem);
    font-family: var(--second-font);
    color: var(--bg-white);
    font-weight: 700;
    width: 100%;
    text-align: center;
    background-color: var(--bg-black);
    outline: 1px solid var(--bg-white);
    padding: 15px 45px;
    transition: 0.3s all ease;
  }
  .order-link:hover {
    opacity: 0.8;
  }
  @media (min-width: 900px) {
    .order-header {
      padding: 10px 75px;
    }
    .order-text {
        max-width: 900px;
    }
    .order-link {
        width: fit-content;
    }
  }
</style>
