---
import Contact from '../components/ContactSection/Contact.astro';
import Header from '../components/Navigation/Header.astro';
import Footer from '../components/FooterSection/Footer';
import i18next, { t } from 'i18next';
import '../utils/customFonts.css';
import { HeadHrefLangs } from 'astro-i18next/components';
import CookiesContainer from '../components/Cookies/CookiesContainer';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={t('head.desc')} />
    <HeadHrefLangs />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta name='generator' content={Astro.generator} />
    <title>{t('head.title')}</title>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l: any, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode?.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-K8BZPSHF');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- <Header /> -->
    <Header />
    <slot />
    <Contact />
    <Footer client:visible />
    <!-- <CookiesContainer client:load /> -->
    <script dns-prefetch src='https://kit.fontawesome.com/4619b49638.js'
    ></script>

    <script
      type='text/javascript'
      src='https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js'
      charset='UTF-8'></script>
    <script type='text/javascript' charset='UTF-8'>
      document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({
          notice_banner_type: 'simple',
          consent_type: 'express',
          palette: 'light',
          language: 'pl',
          page_load_consent_levels: ['strictly-necessary'],
          notice_banner_reject_button_hide: false,
          preferences_center_close_button_hide: false,
          page_refresh_confirmation_buttons: false,
          website_name: 'hinic.eu',
          website_privacy_policy_url: 'https://hinic.netlify.app/polityka/',
        });
      });
    </script>
    <noscript
      >Free cookie consent management tool by <a
        href='https://www.termsfeed.com/'>TermsFeed</a
      ></noscript
    >
    <a href='#' id='open_preferences_center'>Update cookies preferences</a>

    <noscript
      ><iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-K8BZPSHF'
        height='0'
        width='0'
        style='display:none;visibility:hidden'></iframe></noscript
    >

    <style is:global>
      *,
      *::after,
      *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      :root {
        /*fonts*/
        --main-font: 'Noto Sans', sans-serif;
        --second-font: 'Montserrat', sans-serif;
        --roboto-font: 'Roboto', sans-serif;
        /* colors*/
        --bg-white: #f4f4f6;
        --bg-black: hsl(0, 2%, 9%);
        --bg-grey: hsl(0, 1%, 22%);
        --bg-yellow: rgb(241, 187, 24);
        --logo-blue: #4a487c;
        --logo-color: #7b17ad;
        --font-blue: #031b4e;
        --light-blue: #f5f7fa;
        --blue: #3368c6;
        --overlay-blue: rgb(190, 190, 233);
        --bg-gradient: linear-gradient(
          to bottom,
          #031b4e,
          #021946,
          #02173e,
          #031536,
          #05122e
        );
      }

      /* Remember - "npx astro-i18next generate" for generate translations pages*/
      html {
        scroll-padding-top: 40px;
        min-height: 100vh;
        scroll-behavior: smooth;
      }
      a {
        text-decoration: none;
      }
      .sticky-body {
        overflow: hidden;
      }
    </style>
  </body>
</html>
