---
import i18next, { t } from 'i18next';
import { localizePath } from 'astro-i18next';
import Cards from './Cards.astro';
import CardsSlider from './CardsSlider.astro';


---

<section class='products-section'>
  <div class='bg-overlay'></div>
  <h2 class='products-header'>{t('products.title')}</h2>
  <div class='products-wrapper'>
    <div class='products-info'>
      <p class='products-text'>
        {t('products.header')}
      </p>
      <div class='card-container'>
        <Cards />
        <CardsSlider />
        <a class='products-link' href={localizePath('/produkty')}
          >{t('products.link')}</a
        >
      </div>
    </div>
  </div>
</section>
<style>
  .products-section {
    padding: 20px 20px 40px 20px;
    padding-top: 80px;
    background-color: #f4f8ff;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-blue);
    position: relative;
  }
  .bg-overlay {
    background-image: url('/bg-squares.jpg');
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }
  .products-wrapper {
    max-width: 1300px;
    display: block;
  }
  .products-header {
    font-size: clamp(2.3rem, 3vw, 3.5rem);
    font-family: var(--main-font);
    margin-bottom: 30px;
    font-family: var(--roboto-font);
  }
  .products-info {
    display: flex;
    flex-direction: column;
  }
  .products-text {
    margin-bottom: 10px;
    opacity: 0.7;
    font-family: var(--main-font);
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 24px;
    text-align: center;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
  }

  .products-link {
    font-family: var(--roboto-font);
    color: var(--bg-white);
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    align-self: center;
    width: fit-content;
    outline: none;
    text-align: center;
    padding: 15px 35px;
    box-shadow: 3px 6px 5px -5px rgb(42,44,83);
    background-color: var(--font-blue);
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  .products-link:hover {
    background-color: transparent;
    color: var(--font-blue);
    outline: 1px solid var(--font-blue);
  }
  @media (min-width: 900px) {
    .products-link {
      min-width: 500px;
    }
    .products-text {
      max-width: 800px;
      margin: 0 auto;
    }
  }
</style>
